<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="movie" class="com.stackroute.domain.Movie" scope="prototype" autowire="byName"/>

    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="Mahesh Babu"></property>
        <property name="gender" value="Male"></property>
        <property name="age" value="35"></property>
    </bean>

    <bean id="beanpostlifecycle" class="com.stackroute.domain.BeanPostProcessorDemoBean" init-method="" destroy-method=""/>

</beans>