<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actorobj" class="com.stackroute.domain.Actor">// inserting values in actor class//
        <property name="name" value="ramesh"></property>
        <property name="gender" value="male"></property>
        <property name="age" value="23"></property>
    </bean>
        <bean id="movie" class="com.stackroute.domain.Movie">//call movie class by using actor reference
        <property name="actor" ref="actorobj"></property>
        </bean>
    </beans>
