<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="MovieA,MovieB" class="com.stackroute.domain.Movie" scope="prototype" >
        <constructor-arg name="actor" ref="actorObj1"></constructor-arg>
    </bean>

    <bean name="MovieC,MovieD" class="com.stackroute.domain.Movie" scope="prototype" >
        <constructor-arg name="actor" ref="actorObj2"></constructor-arg>
    </bean>

    <bean name="MovieE,MovieF" class="com.stackroute.domain.Movie" scope="prototype" >
        <constructor-arg name="actor" ref="actorObj3"></constructor-arg>
    </bean>

    <bean id="actorObj1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="suma" type="String"></constructor-arg>
        <constructor-arg name="gender" value="female" type="String"></constructor-arg>
        <constructor-arg name="age" value="24" type="int"></constructor-arg>
    </bean>

    <bean id="actorObj2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="trisha" type="String"></constructor-arg>
        <constructor-arg name="gender" value="female" type="String"></constructor-arg>
        <constructor-arg name="age" value="24" type="int"></constructor-arg>
    </bean>


    <bean id="actorObj3" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="keerthi" type="String"></constructor-arg>
        <constructor-arg name="gender" value="female" type="String"></constructor-arg>
        <constructor-arg name="age" value="24" type="int"></constructor-arg>
    </bean>

</beans>